<div class="container mx-auto text-center mb-20 space-y-4 mt-6">
    <h2 class="text-xl box-decoration-clone
   bg-gradient-to-r from-blue-500 to-green-300 text-white px-2 font-serif box-border h-128 w-128 p-4 border-4 mt-6">modulo <br>3</h2>
    <h1 class="text-lg text-white font-serif">Metodos heterodoxos</h1>
    <div class="box-border h-128 w-128 p-4 border-4 mt-6">
        <p class="text-base text-white font-serif text-left">Los métodos Ágiles, tales como Lean Development, eXtremeProgramming y Adaptive Software Development, son estrategiasde desarrollo de software que promueven prácticas que sonadaptativas en vez de predictivas, centradas en la gente o en losequipos,
            iterativas, orientadas hacia prestaciones y hacia laentrega, de comunicación intensiva, y que requieren que elnegocio se involucre en forma directa. Comparando esosatributos con los principios fundacionales de MSF, se encuentraque MSF y las
            metodologías ágiles están muy alineadas tanto enlos principios como en las prácticas para el desarrollo desoftware en ambientes que requieren un alto grado deadaptabilidad.
        </p>
    </div>
    <h1 class="text-lg text-white font-serif">Origenes</h1>
    <div class="box-border h-128 w-128 p-4 border-4 mt-6">
        <p class="text-base text-white font-serif text-left">No hace falta comulgar con las premisas más extremas de los MAs para encontraraspectos cuestionables en todos y cada uno de los modelos clásicos. Aun los manualesintroductorios de ingeniería de software incluyen la lista de limitaciones bien conocidasde
            la mayor parte de ellos, con el modelo en cascada, lejos, como el más castigado. Se leobjeta su rigidez, su obstinación por exigir una estipulación previa y completa de losrequerimientos, su modelo inapropiado de correcciones, su progresivo
            distanciamiento dela visión del cliente y su morosidad para liberar piezas ejecutables. En los últimos dos o 7tres años de la década de 1990, las críticas a la metodología convencional aumentaron enintensidad y detonaron por todas partes.
            <br><br> Aunque la gestación de la rebelión fue larga y tortuosa, pareció que de pronto, paramuchos, los modelos consagrados se tornaron inadmisibles. Circularon también unascuantas evaluaciones que revelaron serias fallas en proyectos regidos
            por ellos, y serefrescó la idea de la crisis del software, que en realidad es un asunto que arrastra unahistoria de más de cuarenta años. Para colmo, en 1995 se publicó la edición de plata delclásico de Fred Brooks The Mythical Man-Month [Bro75],
            que con años de anticipaciónhabía revelado la estrechez de la mentalidad lineal. En MMM Brooks se había expedidoen contra del método en cascada: <br><br> "Gran parte de los procedimientos actuales de adquisición de software reposan enel supuesto
            de que se puede especificar de antemano un sistema satisfactorio,obtener requisitos para su construcción, construirlo e instalarlo. Pienso que estesupuesto es fundamentalmente equivocado y que muchos de los problemas deadquisición se originan
            en esta falacia." <br><br> En la vieja edición Brooks había dicho “Haga un plan para tirarlo. Lo hará de todosmodos”. En la nueva edición, fingió retractarse para atacar con más fuerza: “Noconstruya uno para tirar. El modelo en cascada es
            erróneo!”. Comenzaron a publicarse,una tras otra, historias de fracasos del método, o se refrescó el recuerdo de las que habíansido editadas. El Departamento de Defensa, que en la década de 1980 había promovido elciclo de vida en cascada DOD-STD-2167,
            de infausta memoria, comenzó a asociarlo auna serie de reveses continuos. En 1987, se recomendó la implementación de métodositerativos y evolutivos, de lo que resultó el MIL-STD-498. La NATO, la FDA y otrosorganismos han experimentado historias
            semejantes [Lar04]. En la segunda mitad de ladécada de 1990, también el reputado ISO 9000 cayó bajo fuego; se encontraroncorrelaciones negativas entre la adscripción a los estándares y la calidad de los productos,y la autoridad británica que
            regula la publicidad mandó que el British Standard Institutese abstuviera de proclamar que la adhesión a ISO mejoraría la calidad o la productividadde las soluciones [ESPI96]. <br><br> Ante esa evidencia, los expertos, en masa, aconsejaron
            el abandono de los métodos encascada y las normativas fuertes; eran nombres influyentes: Harlan Mills, Tom Gilb,Barry Boehm, James Martin, Tom DeMarco, Ed Yourdon y muchos más [Lar04]. Yaeran conocidos por diversos logros y muchos de ellos
            estaban, además, elaborando suspropias alternativas dinámicas, iterativas, evolutivas y en suma, ágiles. El surgimiento delos MAs no fue, mal que le pese a críticos como Steven Rakitin [Rak01], Gerold Keefer[Kee03], Stephen Mellor [Mel03],
            Edward Berard [Ber03], Matt Stephens o DougRosenberg [SR03], una revuelta de aficionados adictos al código sin destreza en eldesarrollo corporativo. A los MAs les pueden caber muchos cuestionamientos, pero deningún modo resulta razonable hacerles
            frente con argumentos ad hominem.
        </p>
    </div>
    <br><br>
    <h1 class="text-lg text-white font-serif">Los métodos ágiles descripción y características</h1>
    <div class="box-border h-128 w-128 p-4 border-4 mt-6 ">
        <table class="w-full table-fixed text-titulos text-center">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th>METODO</th>
                    <th>caracteristicas</th>
                    <th>mas info</th>
                </tr>
            </thead>
            <br>
            <tbody class="divide-y-2">
                <tr class="text-white">
                    <td>EXtreme Programming (XP)
                    </td>
                    <td>-Planificación flexible y abierta <br> -Desarrollo iterativo e incremental aportando pequeñas mejoras <br> -El equipo de proyecto se considera como el factor principal de éxito del proyecto <br> -El software funciona por encima de
                        la documentación <br> -Debe haber una interacción continua entre el cliente y los desarrolladores <br> -Respuesta rápida y eficaz ante posibles cambios</td>
                    <td><a href="https://www.iebschool.com/blog/que-es-el-xp-programming-agile-scrum/" class="button  bg-gray-50 hover:bg-blue-700 text-black font-bold border border-blue-700 rounded">info</a></td>
                </tr>
                <br>
                <tr class="text-white">
                    <td>Scrum</td>
                    <td>-Valorar a los individuos y su interacción por encima de los procesos y herramientas. <br> -Valorar el software que funciona por encima de la documentación exhaustiva. <br> -Valorar la colaboración con el cliente por encima de la negociación
                        contractual <br> -Valorar la respuesta al cambio por encima del seguimiento de un plan <br> -La flexibilidad en la adopción de cambios y nuevos requisitos durante un proyecto complejo. <br> -El factor humano. <br> -La colaboración
                        e interacción con el cliente. <br> -El desarrollo iteractivo como forma de asegurar buenos resultados.</td>
                    <td><a href="https://www.wearemarketing.com/es/blog/metodologia-scrum-que-es-y-como-funciona.html#" class="button  bg-gray-50 hover:bg-blue-700 text-black font-bold border border-blue-700 rounded">info</a></td>
                </tr>
                <br>
                <tr class="text-white">
                    <td>evolutionary project management</td>
                    <td>-en cada iteracion se hace un enfoque profundo al usuario <br> -requiere activa participacion por parte del cliente <br> -presenta una especificacion rigurosa hacia la semantica y pragmatica <br> -gran precision en la definicion y
                        cuantificacion
                        <br>-se espera que cada iteracion que constituya un re-evaluacion de las soluciones de la mas alta relacion de valor contra costo</td>
                    <td><a href="https://prezi.com/p/oyyvqnaut6yt/exposicion-evo/" class="button  bg-gray-50 hover:bg-blue-700 text-black font-bold border border-blue-700 rounded">info</a></td>

                </tr>
                <br>
                <tr class="text-white">
                    <td>Crystal</td>
                    <td>– Entregas frecuentes, en base a un ciclo de vida iterativo e incremental. <br> – Mejora reflexiva. <br> – Comunicación osmótica. <br> – Seguridad personal. <br> - Enfoque. <br> – Fácil acceso a usuarios expertos <br> – Entorno técnico
                        con pruebas automatizadas, gestión de la configuración e integración continua.</td>
                    <td><a href="https://www.javiergarzas.com/2012/09/metodologias-crystal.html" class="button  bg-gray-50 hover:bg-blue-700 text-black font-bold border border-blue-700 rounded">info</a></td>
                </tr>
                <br>
                <tr class="text-white">
                    <td>Metodología FDD</td>
                    <td>-No hace énfasis en la obtención de los requerimientos sino en como se realizan las fases de diseño y construcción.
                        <br> -Se preocupa por la calidad, por lo que incluye un monitoreo constante del proyecto.
                        <br> -Ayuda a contrarrestar situaciones como el exceso en el presupuesto, fallas en el programa o el hecho de entregar menos de lo deseado.
                        <br> -Propone tener etapas de cierre cada dos semanas.
                        <br> -Se obtienen resultados periódicos y tangibles.
                        <br> -Se basa en un proceso iterativo con iteraciones cortas que producen un software funcional que el cliente y la dirección de la empresa pueden ver y monitoriar.
                        <br> -Define claramente entregas tangibles y formas de evaluación del progreso del proyecto.</td>
                    <td><a href="https://www.ecured.cu/Metodología_FDD#:~:text=4%20Comparación-,Características,un%20monitoreo%20constante%20del%20proyecto." class="button  bg-gray-50 hover:bg-blue-700 text-black font-bold border border-blue-700 rounded">info</a></td>
                </tr>
                <br>
                <tr class="text-white">
                    <td>Rational Unified Process (RUP)</td>
                    <td>-Desarrollo iterativo
                        <br> -Administración de requisitos
                        <br> -Uso de arquitectura basada en componentes
                        <br> -Control de cambios
                        <br> -Modelado visual del software
                        <br> -Verificación de la calidad del software
                        <br> -Pretende implementar las mejores prácticas en Ingeniería de Software, de forma que se adapte a cualquier proyecto</td>
                    <td><a href="https://es.wikipedia.org/wiki/Proceso_Unificado_de_Rational#:~:text=Principales%20características,-Desarrollo%20iterativo&text=El%20RUP%20es%20un%20producto,el%20código%20fuente%2C%20etc.)" class="button  bg-gray-50 hover:bg-blue-700 text-black font-bold border border-blue-700 rounded">info</a></td>
                </tr>
                <br>
                <tr class="text-white">
                    <td>Método de desarrollo de sistemas dinámicos</td>
                    <td>-Involucrar al cliente es la clave
                        <br>-El equipo del proyecto debe tener el poder
                        <br>-entregar un sistema que satisface las actuales necesidades de negocio
                        <br>-El desarrollo es iterativo e incremental
                        <br>-Todos los cambios durante el desarrollo son reversibles.
                        <br>-alcance de alto nivel y los requerimientos deberían ser base-lined
                        <br>-Las pruebas son realizadas durante todo el ciclo vital del proyecto
                        <br>-La comunicación y cooperación entre todas las partes interesadas en el proyecto
                    </td>
                    <td><a href="https://es.wikipedia.org/wiki/Método_de_desarrollo_de_sistemas_dinámicos" class="button  bg-gray-50 hover:bg-blue-700 text-black font-bold border border-blue-700 rounded">info</a></td>
                </tr>
                <br>
                <tr class="text-white">
                    <td>Adaptive Software Development</td>
                    <td>-Trabajo orientado y guiado por la misión del proyecto.
                        <br> -Basado en la funcionalidad.
                        <br> -Desarrollo iterativo.
                        <br> -Desarrollo acotado temporalmente.
                        <br> -Guiado por los riesgos.
                        <br> -Trabajo tolerante al cambio.</td>
                    <td><a href="https://www.scrummanager.net/bok/index.php/Adaptive_Software_Development" class="button  bg-gray-50 hover:bg-blue-700 text-black font-bold border border-blue-700 rounded">info</a></td>
                </tr>
                <br>
                <tr class="text-white">
                    <td>Agile Modeling</td>
                    <td>-proceso iterativo y incremental
                        <br>-mitigacion del riesgo mediante iteraciones fijas
                        <br>-mejora continua
                        <br>-calidad desde el primer dia
                        <br>-priorizacion de requerimientos de acuerdo a su valor
                        <br>-equipos dedicados y autogestionados
                        <br>-colaboracion continua con el cliente
                        <br>-incorporar al cambio
                        <br>-practicas de desarrollo modernas
                    </td>
                    <td><a href="https://prezi.com/4n1gp_ndgfai/metodologia-am-agile-modelling/" class="button  bg-gray-50 hover:bg-blue-700 text-black font-bold border border-blue-700 rounded">info</a></td>
                </tr>
                <br>
                <tr class="text-white">
                    <td>lean software development</td>
                    <td>-Eliminar desperdicios/restos
                        <br>-Amplificar el aprendizaje
                        <br>-Tomar decisiones lo más tarde posible
                        <br>-Entregar lo antes posible
                        <br>-Potenciar el equipo
                        <br>-Crear la integridad
                        <br>-Visualizar todo el conjunto</td>
                    <td><a href="https://netmind.net/es/lean-software-development-lsd-los-siete-principios/" class="button  bg-gray-50 hover:bg-blue-700 text-black font-bold border border-blue-700 rounded">info</a></td>
                </tr>
                <br>
                <tr class="text-white">
                    <td>Lean Development</td>
                    <td>-Satisfacer al cliente es la máxima prioridad.
                        <br>-Proporcionar siempre el mejor valor por la inversión.
                        <br>-El éxito depende de la activa participación del cliente.
                        <br>-Cada proyecto LD es un esfuerzo de equipo.
                        <br>-Todo se puede cambiar.
                        <br>-Soluciones de dominio, no puntos.
                        <br>-Completar, no construir.
                        <br>-Una solución al 80% hoy, en vez de una al 100% mañana.
                        <br>-El minimalismo es esencial.
                        <br>-La necesidad determina la tecnología.
                        <br>-El crecimiento del producto es el incremento de sus prestaciones, no de su tamaño.
                        <br>-Nunca empujes LD más allá de sus límites.</td>
                    <td><a href="https://www.ecured.cu/Lean_Development" class="button  bg-gray-50 hover:bg-blue-700 text-black font-bold border border-blue-700 rounded">info</a></td>
                </tr>

            </tbody>

        </table>



    </div>
    <br><br>
    <h1 class="text-lg text-white font-serif">Ventajas y desventajas de las metodologías Agile</h1>
    <div class="box-border h-128 w-128 p-4 border-4 mt-6">
        <h1 class="text-lg text-white">Ventajas del uso de metodologías ágiles</h1>
        <br>
        <p class="text-base text-white font-serif text-left">El uso de metodologías ágiles se generalizó debido a las amplias ventajas que ofrece. Estas son algunas de las más importantes:
            <br><br> -Permite al equipo dividir el proyecto en etapas y así centrarse en cada una de forma individual. Esto permite trabajar más rápido.
            <br>-Las metodologías ágiles permiten adaptar el proyecto a medida que avanza. Así, ante cualquier cambio que surja, es muy sencillo volver a organizar el equipo en relación con los nuevos objetivos.
            <br>-Su uso permite identificar rápidamente cuáles son las tareas más interesantes en cada momento, sin necesidad de perder tiempo con constantes informes que las detecten.
            <br>-Las metodologías agiles facilitan encontrar los errores de forma sencilla. Así, el equipo se puede concentrar en el desarrollo, las pruebas y la colaboración.
            <br>-Los proyectos son más transparentes gracias a las metodologías ágiles. El cliente puede ver resultados de manera mucho más sencilla en cualquier punto del proceso.
            <br>-Retroalimentación más rápida de los usuarios finales.
            <br>-Flexibilidad para definir funciones prioritarias y establecer objetivos.
            <br>-El producto ingresa al mercado más rápido, lo que le permite al cliente recibir un retorno de la inversión más rápido
            <br>-La estrecha interacción entre el equipo y el cliente garantiza un progreso constante, la mejora de la calidad, la capacidad de realizar cambios de manera efectiva y la opción de presentar nuevas ideas sobre el producto que se está desarrollando.
        </p>
        <div class="inset-x-0 shadow-xl bg-white w-3/4 md:w-2/5 mx-auto mt-4 rounded-lg rounded-t-none">
            <img src="https://ebf.com.es/blog/wp-content/uploads/2019/09/Ventajas-del-uso-de-metodologías-ágiles.jpg" class="max-w-full h-auto" alt="..." />
        </div>
        <br>
        <h1 class="text-lg text-white">Desventajas del uso de metodologías ágiles</h1>
        <br>
        <p class="text-base text-white font-serif text-left">No existen metodologías ideales en el mundo. Esto también se puede extrapolar a Agile. Tiene muchas ventajas, pero también alguna desventaja. Las principales son:
            <br><br> -Al inicio del proyecto, es difícil determinar con precisión la cantidad de tiempo y dinero que se necesitará para completarlo, debido a los requisitos en constante cambio.
            <br> -El equipo necesita tener una base sólida y habilidades.
            <br> -Se requiere un alto nivel de interacción entre el cliente y los desarrolladores.
            <br> -La falta de atención a la documentación puede dificultar que los nuevos miembros del equipo accedan a la misma.
            <br> -Existe el peligro de que la falta de límites del proyecto conduzca a una expansión descontrolada.
        </p>
        <div class="inset-x-0 shadow-xl bg-white w-3/4 md:w-2/5 mx-auto mt-4 rounded-lg rounded-t-none">
            <img src="https://ebf.com.es/blog/wp-content/uploads/2019/09/Ventajas-de-las-metodologías-ágiles.jpg" class="max-w-full h-auto" alt="..." />
        </div>
    </div>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/watch?v=_ZQnnzrxwJg&feature=youtu.be" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="mx-auto"></iframe>

    <button routerLink="home" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-4 px-8 rounded-full">
      home
    </button>









</div>
