<section class="text-white body-font">
    <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-col text-center w-full mb-20">
            <h2 class="text-xl text-indigo-500 tracking-widest font-medium title-font mb-1">SOFTWARE-ARQUITECTURE</h2>
            <h1 class="text-lg font-medium title-font mb-4 text-gray-900">TODO SOBRE ARQUITECTURA DE SOFTWARE</h1>
            <p class="lg:w-2/3 mx-auto leading-relaxed text-white">Todo lo que se necesita saber sobre la arquitectura del software y mas, proyecto de la materia arquitectura del software</p>
        </div>
        <div class="box-border h-128 w-128 p-4 border-4 mt-6 ">
            <table class="w-full table-fixed text-titulos text-center">
                <tbody>
                    <tr class="text-white">
                        <td>MODULO 1: FUNDAMENTOS DE LA ARQUITECTURA DE SOFTWARE
                        </td>
                        <td>
                            <div class="inset-x-0 shadow-xl bg-white w-3/4 md:w-2/5 mx-auto mt-4 rounded-lg rounded-t-none">
                                <img src="https://cdn.slidesharecdn.com/ss_thumbnails/fundamentosdelaarquitecturadesoftware-140127115738-phpapp01-thumbnail-4.jpg?cb=1390823946" class="max-w-full h-auto" alt="..." />
                            </div>
                        </td>


                    </tr>
                </tbody>
            </table>
        </div>
        <div class="box-border h-128 w-128 p-4 border-4 mt-6 ">
            <table class="w-full table-fixed text-titulos text-center">
                <tbody>
                    <tr class="text-white">
                        <td>
                            <div class="inset-x-0 shadow-xl bg-white w-3/4 md:w-2/5 mx-auto mt-4 rounded-lg rounded-t-none">
                                <img src="https://0701.static.prezi.com/preview/v2/qdio722sl5tgtcnceqqbfbty736jc3sachvcdoaizecfr3dnitcq_1_0.png" class="max-w-full h-auto" alt="..." />
                            </div>
                        </td>
                        <td>
                            MODULO 2: LENGUAJES DE DESCRIPCIÓN DE ARQUITECTURAS (LDA)
                        </td>


                    </tr>
                </tbody>
            </table>
        </div>
        <div class="box-border h-128 w-128 p-4 border-4 mt-6 ">
            <table class="w-full table-fixed text-titulos text-center">
                <tbody>
                    <tr class="text-white">
                        <td>MODULO 3: MÉTODOS HETERODOXOS EN DESARROLLO DE SOFTWARE

                        </td>
                        <td>
                            <div class="inset-x-0 shadow-xl bg-white w-3/4 md:w-2/5 mx-auto mt-4 rounded-lg rounded-t-none">
                                <img src="https://jsoftblog.files.wordpress.com/2012/02/scrum.png" class="max-w-full h-auto" alt="..." />
                            </div>
                        </td>


                    </tr>
                </tbody>
            </table>
        </div>
        <div class="box-border h-128 w-128 p-4 border-4 mt-6 ">
            <table class="w-full table-fixed text-titulos text-center">
                <tbody>
                    <tr class="text-white">
                        <td>
                            <div class="inset-x-0 shadow-xl bg-white w-3/4 md:w-2/5 mx-auto mt-4 rounded-lg rounded-t-none">
                                <img src="https://ingsotfwarekarlacevallos.files.wordpress.com/2015/04/21.png" class="max-w-full h-auto" alt="..." />
                            </div>
                        </td>
                        <td>
                            MODULO 4: MÉTODOS DE PROCESOS
                        </td>


                    </tr>
                </tbody>
            </table>
        </div>
        <div class="box-border h-128 w-128 p-4 border-4 mt-6 ">
            <table class="w-full table-fixed text-titulos text-center">
                <tbody>
                    <tr class="text-white">
                        <td>MODULO 5: TEMAS EN ARQUITECTURA DE SOFTWARE


                        </td>
                        <td>
                            <div class="inset-x-0 shadow-xl bg-white w-3/4 md:w-2/5 mx-auto mt-4 rounded-lg rounded-t-none">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/1200px-Angular_full_color_logo.svg.png" class="max-w-full h-auto" alt="..." />
                            </div>
                        </td>


                    </tr>
                </tbody>
            </table>
        </div>



    </div>

</section>
