<div class="container mx-auto text-center mb-20 space-y-4 mt-6 bg-orange-700">
    <h2 class="text-xl box-decoration-clone
     bg-gradient-to-r from-blue-500 to-green-300 text-white px-2 font-serif box-border h-128 w-128 p-4 border-4 mt-6">modulo <br>2</h2>

    <h1 class="text-lg text-white font-serif bg-gradient-to-r from-cyan-500 to-blue-500">LDA</h1>
    <div class="box-border h-128 w-128 p-4 border-4 mt-6">
        <p class="text-base text-white font-serif text-left">La arquitectura de Software, tras conocer sus requerimiento, se decide a elegir su estrategia y a articular los patrones que se usan, se supone que debería modelar las características del sistema, aplicando una convención gráfica o algún lenguaje
            avanzado de alto nivel de abstracción. <br><br> Esto se remontan a los lenguajes de interconexión de módulos (MIL) de la década de1970, pero se han comenzado a desarrollar con su denominación actual a partir de 1992 o 1993.Definición: ADL-Lenguaje
            descriptivo de modelado arquitectónico de software que se focaliza en la estructura de alto nivel de la aplicación antes que en los detalles de implementación de sus módulos concretos. Su abreviatura es ADL.
        </p>
    </div>
    <div class="inset-x-0 shadow-xl bg-white w-3/4 md:w-2/5 mx-auto mt-4 rounded-lg rounded-t-none">
        <img src="https://miro.medium.com/max/713/1*pGufpGf5aT1HIkO5JGL8Cw.jpeg" class="max-w-full h-auto" alt="..." />
    </div>
    <h1 class="text-lg text-white font-serif bg-gradient-to-r from-cyan-500 to-blue-500">Definicion</h1>
    <div class="box-border h-128 w-128 p-4 border-4 mt-6">
        <p class="text-base text-white font-serif text-left">La definición de ADL que habrá de aplicarse en lo sucesivo es la de un lenguaje descriptivo de modelado que se focaliza en la estructura de alto nivel de la aplicación antes que en los detalles de implementación de sus módulos concretos, Un ADL
            es un lenguaje que provee características para modelar un sistema de software a nivel arquitectónico

            <br><br> La definición más simple es la de Tracz [Wolf97] define un ADL como una entidad consistente en cuatro “Cs”: componentes, conectores, configuraciones y restricciones (constraints).

            <br><br> Una de las definiciones más tempranas es la de Vestal [Ves93] quien sostiene que un ADL debe modelar o soportar lo siguiente: <br><br> - Componentes

            <br> - Conexiones

            <br> - Composición jerárquica, en la que un componente puede contener una sub-arquitectura completa

            <br> - Paradigmas de computación, es decir, semánticas, restricciones y propiedades no funcionales

            <br> - Paradigmas de comunicación

            <br> - Modelos formales subyacentes

            <br> - Soporte de herramientas para modelado, análisis, evaluación y verificación

            <br> - Composición automática de código aplicativo
        </p>
        <div class="inset-x-0 shadow-xl bg-white w-3/4 md:w-2/5 mx-auto mt-4 rounded-lg rounded-t-none">
            <img src="https://static.platzi.com/media/user_upload/FAS_DiagramaEjemplo-eda07055-ccfb-441f-a85f-5588db3f486f.jpg" class="max-w-full h-auto" alt="..." />
        </div>
    </div>
    <div class="box-border h-128 w-128 p-4 border-4 mt-6 ">
        <table class="w-full table-fixed text-titulos text-center">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th>LDA</th>
                    <th>lenguaje</th>
                    <th>mas info</th>
                </tr>
            </thead>
            <br>
            <tbody>
                <tr class="text-white">
                    <td>ACME/ARMANI</td>
                    <td>java/C++</td>
                    <td><a href="http://arquitecturadelsoftwaregrupo2.blogspot.com/p/modulo-ii.html" class="button  bg-gray-50 hover:bg-blue-700 text-black font-bold border border-blue-700 rounded">info</a></td>
                </tr>
                <br>
                <tr class="text-white">
                    <td>ADML</td>
                    <td>uml/xml</td>
                    <td><a href="https://www.opengroup.org/architecture/adml/adml_home.htm" class="button  bg-gray-50 hover:bg-blue-700 text-black font-bold border border-blue-700 rounded">info</a></td>

                </tr>
                <br>
                <tr class="text-white">
                    <td>Aesop</td>
                    <td>C++</td>
                    <td><a href="https://www.opengroup.org/architecture/adml/adml_home.htm" class="button  bg-gray-50 hover:bg-blue-700 text-black font-bold border border-blue-700 rounded">info</a></td>
                </tr>
                <br>
                <tr class="text-white">
                    <td>Artek</td>
                    <td>ni idea/muerto</td>
                    <td><a href="https://www.opengroup.org/architecture/adml/adml_home.htm" class="button  bg-gray-50 hover:bg-blue-700 text-black font-bold border border-blue-700 rounded">info</a></td>

                </tr>
                <br>
                <tr class="text-white">
                    <td>C2 (C2 SADL, C2SADEL, xArch, xADL) </td>
                    <td>C++</td>
                    <td><a href="https://docplayer.es/3524181-Lenguajes-de-descripcion-de-arquitectura-adl-2-introduccion-2-criterios-de-definicion-de-un-adl-6-lenguajes-9-acme-armani.html" class="button  bg-gray-50 hover:bg-blue-700 text-black font-bold border border-blue-700 rounded">info</a></td>

                </tr>
                <br>
                <tr class="text-white">
                    <td>CHAM</td>
                    <td>C#</td>
                    <td><a href="https://docplayer.es/3524181-Lenguajes-de-descripcion-de-arquitectura-adl-2-introduccion-2-criterios-de-definicion-de-un-adl-6-lenguajes-9-acme-armani.html" class="button  bg-gray-50 hover:bg-blue-700 text-black font-bold border border-blue-700 rounded">info</a></td>
                </tr>
                <br>
                <tr class="text-white">
                    <td>Darwin</td>
                    <td>C++</td>
                    <td><a href="https://docplayer.es/3524181-Lenguajes-de-descripcion-de-arquitectura-adl-2-introduccion-2-criterios-de-definicion-de-un-adl-6-lenguajes-9-acme-armani.html" class="button  bg-gray-50 hover:bg-blue-700 text-black font-bold border border-blue-700 rounded">info</a></td>
                </tr>
                <br>
                <tr class="text-white">
                    <td>Jacal</td>
                    <td>no tiene</td>
                    <td><a href="https://docplayer.es/3524181-Lenguajes-de-descripcion-de-arquitectura-adl-2-introduccion-2-criterios-de-definicion-de-un-adl-6-lenguajes-9-acme-armani.html" class="button  bg-gray-50 hover:bg-blue-700 text-black font-bold border border-blue-700 rounded">info</a></td>
                </tr>
                <br>
                <tr class="text-white">
                    <td>LILEANNA</td>
                    <td>TOOR/html</td>
                    <td><a href="https://docplayer.es/3524181-Lenguajes-de-descripcion-de-arquitectura-adl-2-introduccion-2-criterios-de-definicion-de-un-adl-6-lenguajes-9-acme-armani.html" class="button  bg-gray-50 hover:bg-blue-700 text-black font-bold border border-blue-700 rounded">info</a></td>
                </tr>
                <br>
                <tr class="text-white">
                    <td>MetaH/AADL</td>
                    <td>metaH?</td>
                    <td><a href="https://docplayer.es/3524181-Lenguajes-de-descripcion-de-arquitectura-adl-2-introduccion-2-criterios-de-definicion-de-un-adl-6-lenguajes-9-acme-armani.html" class="button  bg-gray-50 hover:bg-blue-700 text-black font-bold border border-blue-700 rounded">info</a></td>
                </tr>
                <br>
                <tr class="text-white">
                    <td>Rapide</td>
                    <td>VHDL,C,C++ y Rapide</td>
                    <td><a href="https://docplayer.es/3524181-Lenguajes-de-descripcion-de-arquitectura-adl-2-introduccion-2-criterios-de-definicion-de-un-adl-6-lenguajes-9-acme-armani.html" class="button  bg-gray-50 hover:bg-blue-700 text-black font-bold border border-blue-700 rounded">info</a></td>
                </tr>
                <br>
                <tr class="text-white">
                    <td>UML</td>
                    <td>si mismo</td>
                    <td><a href="https://docplayer.es/3524181-Lenguajes-de-descripcion-de-arquitectura-adl-2-introduccion-2-criterios-de-definicion-de-un-adl-6-lenguajes-9-acme-armani.html" class="button  bg-gray-50 hover:bg-blue-700 text-black font-bold border border-blue-700 rounded">info</a></td>
                </tr>
                <br>
                <tr class="text-white">
                    <td>UniCon</td>
                    <td>si mismo</td>
                    <td><a href="https://docplayer.es/3524181-Lenguajes-de-descripcion-de-arquitectura-adl-2-introduccion-2-criterios-de-definicion-de-un-adl-6-lenguajes-9-acme-armani.html" class="button  bg-gray-50 hover:bg-blue-700 text-black font-bold border border-blue-700 rounded">info</a></td>
                </tr>
                <br>
                <tr class="text-white">
                    <td>Weaves</td>
                    <td>muerto</td>
                    <td><a href="https://docplayer.es/3524181-Lenguajes-de-descripcion-de-arquitectura-adl-2-introduccion-2-criterios-de-definicion-de-un-adl-6-lenguajes-9-acme-armani.html" class="button  bg-gray-50 hover:bg-blue-700 text-black font-bold border border-blue-700 rounded">info</a></td>
                </tr>
                <br>
                <tr class="text-white">
                    <td>Wright</td>
                    <td>si mismo</td>
                    <td><a href="https://docplayer.es/3524181-Lenguajes-de-descripcion-de-arquitectura-adl-2-introduccion-2-criterios-de-definicion-de-un-adl-6-lenguajes-9-acme-armani.html" class="button  bg-gray-50 hover:bg-blue-700 text-black font-bold border border-blue-700 rounded">info</a></td>
                </tr>
                <br>
                <tr class="text-white">
                    <td>xADL</td>
                    <td>si mismo</td>
                    <td><a href="http://isr.uci.edu/projects/xarchuci/" class="button  bg-gray-50 hover:bg-blue-700 text-black font-bold border border-blue-700 rounded">info</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <h1 class="text-lg text-white font-serif bg-gradient-to-r from-cyan-500 to-blue-500">Modelos computacionales y paradigmas de modelado</h1>
    <div class="box-border h-128 w-128 p-4 border-4 mt-6">
        <p class="text-base text-white font-serif text-left">La descripción que se ha proporcionado hasta aquí no constituye un scorecard ni una e-valuación sistemática de los diferentes ADLs, sino una revisión de los principales lenguajes descriptivos vigentes para que el lector arquitecto se arme de una
            idea más precisa de las opciones hoy en día disponibles si lo que se requiere una herramienta de descripción de arquitecturas. <br><br> Los arquitectos de software con mayor inclinación hacia las cuestiones teóricas y los métodos formales
            habrán podido apreciar la gran variedad de fundamentaciones semán-ticas y modelos computacionales que caracteriza al repertorio de los ADLs. La estructura de Darwin se basa en el cálculo Л; Wright es prácticamente una aplicación rigurosa del
            CSP de Hoare para su semántica y de lógica de primer orden para sus restricciones; LILEANNA se respalda en programación parametrizada e hiper-programación, así como en teoría categorial; los ADLs basados en eventos se fundan en Conjuntos de
            Eventos Parcialmente Ordenados (Posets). Casi todos los ADLs se acompañan de una gramática BNF explícita y algunos (como Armani) requieren también familiaridad con la construcción de un Arbol Sintáctico Abstracto (AST). Al menos un ADL contemporáneo,
            SAM, implementa redes de Petri de transición de predicados y lógica temporal de primer orden y tiempo lineal. <br><br> Un concepto importante que surge de haber considerado este abanico de posibilidades, es que no todo lo que tiene que ver
            con diseño requiere compulsivamente notaciones y modelos de objeto. Considerando los ADLs en su conjunto, habrá podido comprobarse que la tradición de modelado OO, como la que se plasma a partir de [RBP+91], juega en este campo un papel muy
            modesto, si es que juega alguno; la reciente tendencia a redefinir los ADLs en términos de mensajes, servicios, integración, XML Schemas, xADL, SOAP y sus derivaciones no hará más que consolidar ese estado de cosas. <br><br> En el campo del
            modelado arquitectónico, UML/OOP tiende a ser antagónico a la modalidad “estructural” representada por los ADLs. Grandes proyectos recientes, como el del equipo de JPL que está definiendo el framework de Mission Data Systems para la NASA,
            ha decidido hace pocos meses reemplazar UML por ADLs basados en XML [MMM03]. Correlativamente, como bien destaca Paul Clements en uno de sus surveys, muy pocos ADLs pueden manejar conceptos básicos en el modelado OO tales como herencia de
            clases y polimorfismo [Cle96]. De más está decir que ningún ADL a la fecha permite incorporar inflexiones más complejas y sutiles como programación orientada a aspectos, otro tópico caliente en lo que va del siglo [MPM+99]. En la generalidad
            de los casos, tampoco es relevante que así sea.
        </p>
        <div class="inset-x-0 shadow-xl bg-white w-3/4 md:w-2/5 mx-auto mt-4 rounded-lg rounded-t-none">
            <img src="https://proyectosinformaticoscht2009.files.wordpress.com/2009/11/screenshot-21.png" class="max-w-full h-auto" alt="..." />
        </div>
    </div>
    <h1 class="text-lg text-white font-serif bg-gradient-to-r from-cyan-500 to-blue-500">ADLs y Patrones</h1>
    <div class="box-border h-128 w-128 p-4 border-4 mt-6">
        <p class="text-base text-white font-serif text-left">A primera vista, daría la impresión que la estrategia arquitectónica de Microsoft reposa más en la idea de patrones y prácticas que en lenguajes de descripción de diseño; pero si 45se examina con más cuidado el concepto de patrones se verá que
            dichos lenguajes engranan clara y armónicamente en un mismo contexto global. El concepto de patrón fue acuñado por Christopher Alexander entre 1977 y 1979. De allí en más fue enriqueciéndo-se en una multitud de sentidos, abarcando un conjunto
            de prácticas para capturar y comunicar la experiencia de los diseñadores expertos, documentar best practices, establecer formas recurrentes de solución de problemas comunes, etcétera.
            <br><br> Las clasificaciones usuales en el campo de los patrones reconocen habitualmente que hay diferentes clases de ellos; por lo común se hace referencia a patrones de análisis, organizacionales, procedurales y de diseño. Esta última categoría
            tiene que ver con recurrencias específicas de diseño de software y sistemas, formas relativamente fijas de interacción entre componentes, y técnicas relacionadas con familias y estilos. En este sentido, es evidente que los ADLs denotan una
            clara relación con los patrones de diseño, de los que puede decirse que son una de las formas posibles de notación. Como en el caso de las heurísticas y recetas de Acme, muchas veces esos patrones son explícitos y el ADL opera como una forma
            regular para expresarlos en la descripción arquitectónica.
            <br><br> La correspondencia entre patrones, ADLs y estilos, sin embargo, no está establecida de una vez y para siempre porque no existe ni una taxonomía uniforme, ni una especificación unívoca que defina taxativamente cuántas clases de patrones
            y cuántos niveles existen en ingeniería, arquitectura y diseño de software desde que se concibeconceptualmente un sistema hasta que se lo programa. En la percepción de Jørgen Thelin, quien a su vez se funda en la nomenclatura y tipificación
            de Martin Fowler, por ejemplo, distintos niveles en los proyectos de desarrollo se vincularían con otras tantas clases de patrones: el diseño con patrones de código, el análisis con los patrones de modelos y los estilos arquitectónicos con
            los patrones de arquitectura [The03]. Pero aunque cada escuela y cada autor organiza la articulación del campo a su manera y se sirve de denominaciones idiosincráticas, sin duda es legítimo plantear una relación entre patrones y lenguajes
            de descripción de arquitectura y tratar de esclarecerla.
            <br><br> Los ADLs mantienen asimismo una frontera difusa con lo que desde Alexander en adelante se llamaron lenguajes de patrones, que se definen como sistemas de patrones organizados en una estructura o plantilla que orienta su aplicación
            [Ale79] [AIS+77]. Ambas ideas se consolidaron en una nutrida bibliografía, en la cual la obra de la llamada “Banda de los Cuatro” ha alcanzado una fama legendaria [Gof95]. En algunas contadas ocasiones, los lenguajes de patrones fueron reformulados
            como ADLs y también viceversa [Shaw96]. Recientemente se ha propuesto un nuevo estilo arquitectónico “de nueva generación”, ABAS (Attribute-Based Architectural Style) [KC99], que explícita-mente se propone la convergencia entre la arquitectura
            de alto nivel expresada en los ADLs y en los estilos con el expertise, las best practices, los building blocks y los patrones decantados en la disciplina de diseño de aplicaciones.
            <br><br> Un estudio esencial de Mary Shaw y Paul Clements analiza la compleja influencia de la teoría y la práctica de los patrones sobre los ADLs [SC96]. Estos autores consideran que los ADLs han sido propios de la comunidad de arquitectos
            de software, mientras que los patrones de diseño y sus respectivos lenguajes han prosperado entre los diseñadores de software, particularmente entre los grupos más ligados a la orientación a objetos. Naturalmente, ambas comunidades se superponen
            en más de un respecto. En lo que 46respecta a la relación entre arquitectura y diseño, las discusiones mantenidas en el seno de OOSPLA y en otros foros han consensuado que los diseñadores basados en patrones operan a niveles de abstracción
            más bajo que el de los arquitectos, pero por encima del propio de los programadores. Por otra parte, Buschmann [BMR+96] ha documentado patrones utilizados como estilos arquitectónicos regidos por ADLs. Shaw y Clementsconcluyen su análisis
            alegando que los ADLs pueden beneficiarse incorporando elementos de tipo análogo a los patrones en las secciones que se refieren a estilos, plantillas y reglas de diseño. A similares conclusiones llegan Robert T. Monroe, Drew Kompanek, Ralph
            Melton y David Garlan [MKM+96].
            <br><br> Al lado de los ADLs, existen otros recursos para abordar la cuestión de los patrones de diseño. La estrategia arquitectónica de Microsoft contempla niveles de abstracción que hoy en día se resuelven, por ejemplo, mediante Logidex
            para .Net de LogicLibrary, el cual se encuentra en http://www.logiclibrary.com/logidex.htm. Este es un engine que tipifica más como un software development asset (SDA) que como una entidad semejante a un ADL. Un asset de este tipo incluye
            componentes, servicios, frameworks, artefactos asociados con el ciclo de vida de un desarrollo de software, patrones de diseño y docu-mentación de best practices. Este paquete en particular es más un producto para desa-rrolladores arquitectónicamente
            orientados que para arquitectos que prefieran situarse en una tesitura más abstracta y alejada del código. En futuras versiones de VisualStudio .Net se prevé la incorporación de otros recursos, algunos de ellos construidos en torno de la edición
            Architect y otros desarrollados por terceras partes. Los ADLs complementan a estos assets y herramientas, lo mismo que lo seguirán haciendo las soluciones de modelado relacionadas con la tradición de UML.

        </p>
    </div>

    <div class="inset-x-0 shadow-xl bg-white w-3/4 md:w-2/5 mx-auto mt-4 rounded-lg rounded-t-none">
        <img src="https://www.desarrollodepaginasweb.com.mx/wp-content/uploads/2018/08/patrones-de-arquitectura-de-software.png" class="max-w-full h-auto" alt="..." />
    </div>


    <div style="width:100%;height:0px;position:relative;padding-bottom:56.250%;"><iframe src="https://streamable.com/e/u3vwkt" frameborder="0" width="100%" height="100%" allowfullscreen style="width:100%;height:100%;position:absolute;left:0px;top:0px;overflow:hidden;"></iframe></div>



    <button routerLink="home" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-4 px-8 rounded-full">
      home
    </button>





</div>
