<div class="container mx-auto text-center mb-20 space-y-4 mt-6 bg-cyan-900">
    <h2 class="text-xl box-decoration-clone
   bg-gradient-to-r from-blue-500 to-green-300 text-white px-2 font-serif box-border h-128 w-128 p-4 border-4 mt-6">modulo <br>5</h2>

    <h1 class="text-lg text-white bg-gradient-to-r from-cyan-500 to-blue-500">TEMAS EN ARQUITECTURA DE SOFTWARE</h1>
    <br>
    <br>
    <br>
    <h1 class="text-titulos text-white bg-gradient-to-r from-cyan-500 to-blue-500">FRAMEWORKS</h1>
    <div class="box-border h-128 w-128 p-4 border-4 mt-6">
        <br>
        <p class="text-base text-white font-serif text-left">Un framework es un esquema o marco de trabajo que ofrece una estructura base para elaborar un proyecto con objetivos específicos, una especie de plantilla que sirve como punto de partida para la organización y desarrollo de software. <br><br>            Utilizar frameworks puede simplificar (y mucho) una tarea o proceso, de ahí que se trate de una de las herramientas habituales que manejan los Digital Workers, porque les ayuda a ser más ágiles y productivos</p>
        <br>
        <h1 class="text-titulos text-white">Características</h1>
        <br>
        <p class="text-base text-white font-serif text-left">Un framework incluye los bloques de construcción básicos de un programa y por lo tanto determina el diseño de la estructura básica para el software desarrollado. Contiene clases abstractas y concretas y además soporta la creación de aplicaciones.
            Es importante saber que el framework en sí mismo no es un programa completo, sino que será utilizado por los programadores sólo como un patrón de diseño.

            <br><br> Un programador especifica un tipo particular de implementación, que luego es controlado y utilizado por el framework. En general, los frameworks se desarrollan con el objetivo de reutilizar patrones de aplicación arquitectónica. Algunos
            ejemplos de aplicación son editores gráficos, sistemas de contabilidad o tiendas de Internet. Una plataforma independiente, por ejemplo, es Ruby on Rails.</p>
        <br>
        <h1 class="text-titulos text-white">Estructuras</h1>
        <br>
        <p class="text-base text-white font-serif text-left">Dentro del controlador, modelo o vista, se pueden manejar datos, y depende de cada uno cómo interpretar y manejar esos datos. Se sabe que el único dato de una dirección estática web es: conseguir un archivo físico en el disco duro o de Internet,
            etc., e interpretado o no, el servidor responde. <br><br> El modelo, al igual que el controlador y la vista, maneja todos los datos que se relacionen consigo (solo es el proceso medio de la separación por capas que ofrece la arquitectura MVC).
            Y solo la vista, puede demostrar dicha información. Con lo cual ya se ha generado la jerarquía del programa: controlador, modelo y vista.</p>

        <br>
        <h1 class="text-titulos text-white">Ejemplos</h1>
        <br>
        <p class="text-base text-white font-serif text-left">Angular : Mantenido por Google, de código abierto y desarrollado en TypeScript. Es un framework ideal para crear aplicaciones web a gran escala y de alto rendimiento, manteniéndolas fácilmente.
            <br><br>Meteor: Meteor o Meteor JS ofrece una forma mucho más sencilla de crear aplicaciones web y móviles en tiempo real. Permite el desarrollo rápido de prototipos y produce código multiplataforma (Web, Android, iOS, etc.)
            <br><br>Django: Escrito en Python, ayuda a crear aplicaciones web de calidad. Se inventó para cumplir con los rápidos plazos de las salas de redacción y, al mismo tiempo, satisfacer los requisitos tan estrictos de los desarrolladores web experimentados.
            <br><br>Ruby on Rails: De código abierto y escrito en lenguaje de programación Ruby. Se puede desarrollar una aplicación al menos diez veces más rápido con Rails que con un framework Java típico. Además, incluye todo lo necesario para crear
            una aplicación web basada en bases de datos utilizando el patrón Model-View-Controller.
            <br><br>Laravel: De código abierto, fácil de asimilar para PHP. Fue creado por Taylor Otwell en 2011 y, como el resto de frameworks modernos, también sigue el patrón arquitectónico MVC. Laravel valora la elegancia, la sencillez y la legibilidad.
            <br><br>ASP .Net: Framework de Microsoft. Nos ayuda a construir aplicaciones potentes para PC, así como para dispositivos móviles. Es ligero y de alto rendimiento, ideal para crear aplicaciones web utilizando .Net. De gran potencia, productividad
            y velocidad.</p>



    </div>
    <br>
    <h1 class="text-titulos text-white bg-gradient-to-r from-cyan-500 to-blue-500">Procesos de estandarización en la industria</h1>
    <br>
    <div class="box-border h-128 w-128 p-4 border-4 mt-6">
        <h1 class="text-titulos text-white">Arquitectura dirigida por modelos (MDA)</h1>
        <br>
        <p class="text-base text-white font-serif text-left">
            La arquitectura dirigida por modelos (Model-Driven Architecture o MDA) es un acercamiento al diseño de software, propuesto y patrocinado por el Object Management Group (OMG).

            <br><br> MDA se ha concebido para dar soporte a la ingeniería dirigida a modelos de los sistemas de software.

            <br><br> MDA es una arquitectura que proporciona un conjunto de guías para estructurar especificaciones expresadas como modelos.
            <br><br> Uno de los principales objetivos de MDA es separar el diseño de la arquitectura y de las tecnologías de construcción, facilitando que el diseño y la arquitectura puedan ser alterados independientemente. El diseño alberga los requerimientos
            funcionales (casos de uso) mientras que la arquitectura proporciona la infraestructura a través de la cual se hacen efectivos requerimientos no funcionales como la escalabilidad, fiabilidad o rendimiento. MDA se asegura de que el modelo independiente
            de la plataforma (PIM), el cual representa un diseño conceptual que concreta los requerimientos funcionales, sobrevive a los cambios que se produzcan en las tecnologías de fabricación y en las arquitecturas software. De particular importancia
            en MDA es la noción de transformación de modelos. Uno de los estándares definidos para la transformación de modelos se denomina QVT.
        </p>
        <div class="inset-x-0 shadow-xl bg-white w-3/4 md:w-2/5 mx-auto mt-4 rounded-lg rounded-t-none">
            <img src="https://ingenieriadelsoftwarealumnosfgyro.files.wordpress.com/2016/04/mda-1.jpg" class="max-w-full h-auto" alt="..." />
        </div>
        <br>
        <h1 class="text-titulos text-white">Arquitectura orientada a servicios (SOA)</h1>
        <br>
        <p class="text-base text-white font-serif text-left">La Arquitectura Orientada a Servicios (SOA, siglas del inglés Service Oriented Architecture) es un estilo de arquitectura de TI que se apoya en la orientación a servicios. La orientación a servicios es una forma de pensar en servicios, su construcción
            y sus resultados. Un servicio es una representación lógica de una actividad de negocio que tiene un resultado de negocio específico (ejemplo: comprobar el crédito de un cliente, obtener datos de clima, consolidar reportes de perforación) <br><br>            El estilo de arquitectura SOA se caracteriza por: <br>

            <br> -Estar basado en el diseño de servicios que reflejan las actividades del negocio en el mundo real. Estas actividades forman parte de los procesos de negocio de la compañía.
            <br> -Representar los servicios utilizando descripciones de negocio para asignarles un contexto de negocio.
            <br> -Tener requerimientos de infraestructura específicos y únicos para este tipo de arquitectura. En general se recomienda el uso de estándares abiertos para la interoperabilidad y transparencia en la ubicación de servicios.
            <br> -Estar implementada de acuerdo con las condiciones específicas de la arquitectura de TI en cada compañía.
            <br> -Requerir un gobierno fuerte sobre las representación e implementación de servicios.
            <br> -Requerir un conjunto de pruebas que determinen que es un buen servicio.</p>
        <div class="inset-x-0 shadow-xl bg-white w-3/4 md:w-2/5 mx-auto mt-4 rounded-lg rounded-t-none">
            <img src="https://cdn2.hubspot.net/hubfs/239039/iStock-506826556.jpg" class="max-w-full h-auto" alt="..." />
        </div>


    </div>
    <br>
    <h1 class="text-titulos text-white bg-gradient-to-r from-cyan-500 to-blue-500">Niveles de arquitectura</h1>
    <br>
    <div class="box-border h-128 w-128 p-4 border-4 mt-6">
        <p class="text-base text-white font-serif text-left"> 0. Incompleto.- Falta de cumplimiento del proceso.
            <br> 1. Realizado.- Genera los productos de trabajo esperados.
            <br> 2. Administrado.- Proceso y productos administrados y controlados.
            <br> 3. Establecido.- Proceso definido para la organización y utilizado adecuadamente.
            <br> 4. Predecible.- El proceso opera dentro de los límites estadísticos establecidos.
            <br> 5. Optimizado.- El proceso mejora continuamente.</p>
        <div class="inset-x-0 shadow-xl bg-white w-3/4 md:w-2/5 mx-auto mt-4 rounded-lg rounded-t-none">
            <img src="https://sg.com.mx/images/stories/200501/principal_1_5.gif" class="max-w-full h-auto" alt="..." />
        </div>
    </div>
    <br>
    <h1 class="text-titulos text-white bg-gradient-to-r from-cyan-500 to-blue-500">Organizaciones para arquitecturas y componentes</h1>
    <br>
    <div class="box-border h-128 w-128 p-4 border-4 mt-6">
        <p class="text-base text-white font-serif text-left">El Objetivo de la Arquitectura Empresarial es describir los componentes de una empresa, sus relaciones, cómo colaboran e interactúan sobre sí. Es el Mapa que proporciona un entendimiento común de la organización y se usa para alinear la estrategia
            y los requerimientos tácticos.
            <br><br>Los puntos de vista clave de la empresa dentro de la Arquitectura Empresarial son:
            <br><br> 1 Estrategia: Objetivos tácticos y estratégicos
            <br> 2 Capacidad organizativa: Las funciones de negocio de la empresa y las partes de la organización que las realizan
            <br> 3 Los procesos de negocio: Procesos estratégicos, de negocio y soporte
            <br> 4 La organización: Know-how de la organización
            <br> 5 Conocimiento: relaciones entre roles, unidades de negocio, responsabilidades
            <br><br> - Reducción de costes: Reducción del coste de proyecto, al reducir costes y mejorar el entendimiento las soluciones aportadas, requieren menor inversión para alcanzar los objetivos del negocio, Las inversiones en nuevos sistemas y
            en la transformación del negocio son recuperadas más rápidamente, Justificación de la inversión, la metodología descriptiva permite materializar el trabajo de arquitectura y dinamizar las inversiones en TI, involucrando de forma activa al
            personal vinculado a las operaciones del negocio en los proyectos.
            <br> - Reducción de Riesgos
            <br> - Identificación de Oportunidades: Time to market: Variaciones de alcance y tiempo , Identificación de ineficiencias Reducción de riesgos y costes.
            <br> - Flexibilidad y Adaptación
            <br> - Lenguaje común
        </p>
        <br>
        <div class="inset-x-0 shadow-xl bg-white w-3/4 md:w-2/5 mx-auto mt-4 rounded-lg rounded-t-none">
            <img src="https://www.ibermatica365.com/wp-content/uploads/2019/04/arquitectura-empresarial.png" class="max-w-full h-auto" alt="..." />
        </div>
    </div>
    <br>
    <h1 class="text-titulos text-white bg-gradient-to-r from-cyan-500 to-blue-500">Definición y características de las tecnologias existentes</h1>
    <br>
    <div class="box-border h-128 w-128 p-4 border-4 mt-6">
        <h1 class="text-titulos text-white">Corba</h1>
        <br>
        <p class="text-base text-white font-serif text-left">CORBA (Common Object Request Broker Architecture) es un estándar definido por el grupo de gestión de objetos (OMG) que permite el funcionamiento conjunto de componentes de software escritos en distintos lenguajes informáticos y que se ejecutan
            en distintos sistemas. <br><br> CORBA es un estándar para distribuir objetos a través de redes de modo que las operaciones en dichos objetos puedan llamarse de forma remota. CORBA no está asociado con ningún lenguaje de programación en particular
            y cualquier lenguaje que tenga un enlace CORBA puede utilizarse para llamar e implementar objetos CORBA. Los objetos se describen en una sintaxis denominada IDL (Interface Definition Language).
            <br><br>CORBA incluye cuatro componentes:
            <br><br>1. ORB (Object Request Broker) ORB (Object Request Broker) maneja la comunicación, ordenación y desordenación de parámetros, de modo que el manejo de parámetros es transparente para aplicaciones de cliente y servidor CORBA.
            <br> 2. Servidor CORBA El servidor CORBA crea objetos CORBA y los inicializa con un ORB. El servidor coloca las referencias a los objetos CORBA dentro de un servicio de denominación de modo que los clientes puedan acceder a los mismos.
            <br> 3. Servicio de nombres El servicio de denominación mantiene referencias a objetos CORBA.
            <br> 4. Nodo CORBARequest El nodo CORBARequest actúa como cliente CORBA.</p> <br>
        <div class="inset-x-0 shadow-xl bg-white w-3/4 md:w-2/5 mx-auto mt-4 rounded-lg rounded-t-none">
            <img src="https://www.ibm.com/docs/es/SSMKHH_10.0.0/com.ibm.etools.mft.doc/bc224001V9.gif" class="max-w-full h-auto" alt="..." />
        </div>
        <br>
        <h1 class="text-titulos text-white">JavaBean</h1>
        <br>
        <p class="text-base text-white font-serif text-left">Los JavaBeans son un modelo de componentes creado por Sun Microsystems para la construcción de aplicaciones en Java.

            <br><br> Se usan para encapsular varios objetos en un único objeto (la vaina o Bean en inglés), para hacer uso de un solo objeto en lugar de varios más simples.

            <br><br> La especificación de JavaBeans de Sun Microsystems los define como "componentes de software reutilizables que se puedan manipular visualmente en una herramienta de construcción".

            <br><br> A pesar de haber muchas semejanzas, los JavaBeans no deben confundirse con los Enterprise JavaBeans (EJB), una tecnología de componentes del lado servidor que es parte de Java EE.
            <br> Dentro de un JavaBean podemos distinguir tres partes:

            <br><br> -Propiedades: Los atributos que contiene.
            <br> -Métodos: Se establecen los métodos get y set para acceder y modificar los atributos.
            <br> -Eventos: Permiten comunicar con otros JavaBeans.</p> <br>
        <div class="inset-x-0 shadow-xl bg-white w-3/4 md:w-2/5 mx-auto mt-4 rounded-lg rounded-t-none">
            <img src="https://files.codingninjas.in/article_images/jsp-javabeans-1-1643687038.jpg" class="max-w-full h-auto" alt="..." />
        </div>
        <br>
        <h1 class="text-titulos text-white">.NET</h1>
        <br>
        <p class="text-base text-white font-serif text-left">Puede crear muchos tipos de aplicaciones con .NET, por ejemplo, de nube, IoT y juegos, mediante herramientas multiplataforma gratis. Las aplicaciones se pueden ejecutar en Android, iOS, Linux, Mac OS y Windows. Implemente aplicaciones en servidores
            o equipos de sobremesa y publique en tiendas de aplicaciones para la implementación en dispositivos móviles. .NET es accesible para los estudiantes y aficionados, y todos pueden participar en una comunidad de desarrolladores internacional
            animada y realizar contribuciones directas a muchas de las tecnologías .NET.</p>
        <br>
        <div class="inset-x-0 shadow-xl bg-white w-3/4 md:w-2/5 mx-auto mt-4 rounded-lg rounded-t-none">
            <img src="https://upload.wikimedia.org/wikipedia/commons/0/0e/Microsoft_.NET_logo.png" class="max-w-full h-auto" alt="..." />
        </div>





    </div>


    <div style="width:100%;height:0px;position:relative;padding-bottom:56.250%;"><iframe src="https://streamable.com/e/vt388l" frameborder="0" width="100%" height="100%" allowfullscreen style="width:100%;height:100%;position:absolute;left:0px;top:0px;overflow:hidden;"></iframe></div>



    <button routerLink="home" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-4 px-8 rounded-full">
      home
    </button>

</div>
