<div class="container mx-auto text-center mb-20 space-y-4 mt-6 bg-emerald-900">
    <h2 class="text-xl box-decoration-clone
   bg-gradient-to-r from-blue-500 to-green-300 text-white px-2 font-serif box-border h-128 w-128 p-4 border-4 mt-6">modulo <br>4</h2>
    <h1 class="text-lg text-white bg-gradient-to-r from-cyan-500 to-blue-500">MÉTODOS DE PROCESOS</h1>
    <div class="box-border h-128 w-128 p-4 border-4 mt-6">
        <p class="text-base text-white font-serif text-left">Desarrollar un buen software depende de un gran número de actividades y etapas, donde el impacto de elegir la metodología para un equipo en un determinado proyecto es trascendental para el éxito del producto. <br><br> Las metodologías tradicionales
            son denominadas, a veces, de forma despectiva, como metodologías pesadas. <br><br> Centran su atención en llevar una documentación exhaustiva de todo el proyecto, la planificación y control del mismo, en especificaciones precisas de requisitos
            y modelado y en cumplir con un plan de trabajo, definido todo esto, en la fase inicial del desarrollo del proyecto. <br><br> Estas metodologías tradicionales imponen una disciplina rigurosa de trabajo sobre el proceso de desarrollo del software,
            con el fin de conseguir un software más eficiente. Para ello, se hace énfasis en la planificación total de todo el trabajo a realizar y una vez que está todo detallado, comienza el ciclo de desarrollo del producto software. Se centran especialmente
            en el control del proceso, mediante una rigurosa definición de roles, actividades, artefactos, herramientas y notaciones para el modelado y documentación detallada. Además, las metodologías tradicionales no se adaptan adecuadamente a los cambios,
            por lo que no son métodos adecuados cuando se trabaja en un entorno, donde los requisitos no pueden predecirse o bien pueden variar. <br><br> Otra de las características importantes dentro de este enfoque, son los altos costes al implementar
            un cambio y la falta de flexibilidad en proyectos donde el entorno es volátil.
        </p>
        <div class="inset-x-0 shadow-xl bg-white w-3/4 md:w-2/5 mx-auto mt-4 rounded-lg rounded-t-none">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/Waterfall_model.png/320px-Waterfall_model.png" class="max-w-full h-auto" alt="..." />
        </div>
    </div>
    <br>
    <h1 class="text-lg text-white bg-gradient-to-r from-cyan-500 to-blue-500">METODOLOGIA TRADICIONAL</h1>
    <div class="box-border h-128 w-128 p-4 border-4 mt-6">
        <p class="text-base text-white font-serif text-left">
            Desarrollar un buen software depende de un gran número de actividades y etapas, donde el impacto de elegir la metodología para un equipo en un determinado proyecto es trascendental para el éxito del producto. <br><br> Las metodologías tradicionales
            son denominadas, a veces, de forma despectiva, como metodologías pesadas. <br><br> Centran su atención en llevar una documentación exhaustiva de todo el proyecto, la planificación y control del mismo, en especificaciones precisas de requisitos
            y modelado y en cumplir con un plan de trabajo, definido todo esto, en la fase inicial del desarrollo del proyecto. <br><br> Estas metodologías tradicionales imponen una disciplina rigurosa de trabajo sobre el proceso de desarrollo del software,
            con el fin de conseguir un software más eficiente. Para ello, se hace énfasis en la planificación total de todo el trabajo a realizar y una vez que está todo detallado, comienza el ciclo de desarrollo del producto software. Se centran especialmente
            en el control del proceso, mediante una rigurosa definición de roles, actividades, artefactos, herramientas y notaciones para el modelado y documentación detallada. Además, las metodologías tradicionales no se adaptan adecuadamente a los cambios,
            por lo que no son métodos adecuados cuando se trabaja en un entorno, donde los requisitos no pueden predecirse o bien pueden variar. <br><br> Otra de las características importantes dentro de este enfoque, son los altos costes al implementar
            un cambio y la falta de flexibilidad en proyectos donde el entorno es volátil.
        </p>
        <br>
        <h1 class="text-lg text-white">Capability Maturity Model o CMM</h1>
        <br>
        <p class="text-base text-white font-serif text-left">El Modelo de Madurez de Capacidades o CMM (Capability Maturity Model), es un modelo de evaluación de los procesos de una organización. Fue desarrollado inicialmente para los procesos relativos al desarrollo e implementación de software por la
            Universidad Carnegie-Mellon para el Software Engineering Institute (SEI). <br><br> El SEI es un centro de investigación y desarrollo patrocinado por el Departamento de Defensa de los Estados Unidos de América y gestionado por la Universidad
            Carnegie-Mellon. "CMM" es una marca registrada del SEI.</p>
        <div class="inset-x-0 shadow-xl bg-white w-3/4 md:w-2/5 mx-auto mt-4 rounded-lg rounded-t-none">
            <img src="https://comunidad.iebschool.com/metodologiasagiles/files/2015/05/metodologias-agiles.jpg" class="max-w-full h-auto" alt="..." />
        </div>
    </div>
    <h1 class="text-lg text-white bg-gradient-to-r from-cyan-500 to-blue-500">METODOS DE ANALISIS Y DISEñO</h1>
    <div class="box-border h-128 w-128 p-4 border-4 mt-6">
        <br>
        <h1 class="text-lg text-white">Analisis</h1>
        <br>
        <p class="text-base text-white font-serif text-left">
            El propósito principal de esta etapa es conseguir una comprensión más precisa de los requisitos y una descripción de los mismos que sea fácil de mantener y que nos ayude a estructurar el sistema completo, incluyendo la arquitectura. <br><br>            El análisis de requerimientos facilita al ingeniero de sistemas especificar la función y comportamiento de los programas, indicar la interfaz con otros elementos del sistema y establecer las ligaduras de diseño que debe cumplir el programa.
            <br><br> También permite al ingeniero refinar la asignación de software y representar el dominio de la información que será tratada por el programa. Así como también brinda al diseñador la representación de la información y las funciones que
            pueden ser traducidas en datos, arquitectura y diseño procedimental. <br><br> Finalmente, la especificación de requerimientos suministra al técnico y al cliente, los medios para valorar la calidad de los programas, una vez que se haya construido.
            <br><br> En la medida que logremos una clara comprensión de lo anterior obtendremos una arquitectura estable y sólida que nos facilite una comprensión en profundidad de los requisitos.
        </p>
        <br>
        <h1 class="text-lg text-white">Diseño</h1>
        <br>
        <p class="text-base text-white font-serif text-left">
            Una vez realizada la etapa de análisis y especificación, se modela el sistema y definimos su estructura (incluida la arquitectura) para que soporte todos los requisitos, incluyendo los requisitos no funcionales y otras restricciones. <br><br>            Con toda esta información recopilada en los puntos anteriores, los profesionales técnicos traducen la información de alto nivel, en esquemas, diagramas, etc. de bajo nivel, para luego éstos ser comprendidos por el área de desarrollo.
        </p>
    </div>
    <br>
    <h1 class="text-lg text-white bg-gradient-to-r from-cyan-500 to-blue-500">TESTEOS</h1>
    <br>
    <div class="box-border h-128 w-128 p-4 border-4 mt-6">
        <br>
        <h1 class="text-lg text-white">Active Reviews for Intermediate Designs (ARID)</h1>
        <br>
        <p class="text-base text-white font-serif text-left">
            De los métodos de evaluación de arquitectura de software existente el ARID, es conveniente para realizar la evaluación de diseños parciales en las etapas tempranas del desarrollo. En ocasiones, es necesario saber si un diseño propuesto es conveniente,
            desde el punto de vista de otras partes de la arquitectura. <br><br> ARID es un híbrido entre Revisión Activa del Diseño (Active Design Review, ADR) y ATAM. Por su parte el ADR es utilizado para la evaluación de diseños detallados
            de unidades de software como los componentes o módulos. Las preguntas giran en torno a la calidad y completitud de la documentación y la suficiencia, el ajuste y la conveniencia de los servicios que provee el diseño propuesto.

        </p>
        <br>
        <h1 class="text-lg text-white">QAW y ADD</h1>
        <br>
        <p class="text-base text-white font-serif text-left">QAW es un taller (workshop) en donde se integran los diferentes involucrados para identificar los atributos de calidad que serán drivers del diseño de arquitectura del producto. QAW facilita la resolución temprana de conflictos, obtiene consensos
            entre los stakeholders y ayuda a mejorar los requerimientos a todos los niveles. <br><br> ADD es un método iterativo para diseñar la arquitectura del producto en base a los drivers definidos en el QAW. ADD aplica patrones y tácticas de diseño
            que apuntan a asegurar que los atributos de calidad estarán presentes en el producto. ATAM es un método altamente estructurado para evaluar un diseño de arquitectura. ATAM permite detectar, de manera temprana, riesgos técnicos, conflictos
            entre atributos, puntos sensitivos del diseño y soluciones.</p>
        <br>
        <h1 class="text-lg text-white">ATAM</h1>
        <br>
        <p class="text-base text-white font-serif text-left">La Arquitectura de Software condiciona las características del producto final en cuanto a cualidades como desempeño y mantenibilidad. El Architecture Tradeoff Analysis Method (ATAM) es una metodología para evaluar Arquitecturas de Software basada
            en los atributos de calidad especificados para el sistema, desarrollada por el Software Engineering Institute (SEI). El Grupo de Ingeniería de Software (Gris) del Instituto de Computación tiene como eje de sus actividades un programa de construcción
            y prueba de modelos de proceso, en cuyo contexto se desarrolló una herramienta para especificar modelos de procesos. ATAM se puso en práctica para evaluar el producto obtenido y realizar un segundo ciclo de desarrollo sobre el mismo, mejorando
            aspectos de riesgo identificados principalmente para el atributo de calidad performance. Se presenta ATAM y el caso de estudio realizado en el marco del programa.</p>
        <br>
        <h1 class="text-lg text-white">SACAM</h1>
        <br>
        <p class="text-base text-white font-serif text-left">
            SACAM (Software Architecture Comparison Analysis Method) es por su parte un método de evaluación temprana que se basa en el análisis de escenarios. Para tal objetivo sigue una serie de pasos que incluye en primera medida la preparación o la determinación
            de las entradas disponibles como candidatos a la arquitectura y objetivos de negocio; en la etapa dos se realiza la clasificación de los criterios, siendo en la tercera etapa en donde se determina las vistas arquitectónicas, las tácticas,
            los estilos y los patrones. la cuarta etapa se determina las vistas arquitectónicas cada uno de los candidatos y se detectan los indicadores que soportan los escenarios de atributos de calidad. En la etapa cinco, se le asigna a cada criterio
            una puntuación basado en la evidencia proporcionada en el paso anterior. Finalmente, se resumen los resultados del análisis de validación.

        </p>
        <br>
        <h1 class="text-lg text-white">Cost-Benefit Analysis Method (CBAM)</h1>
        <br>
        <p class="text-base text-white font-serif text-left">Cost-Benefit Analysis Method (CBAM) De acuerdo con In et al. (2001), el método de análisis de costos y beneficios es un marco de referencia que no toma decisiones por los involucrados en el desarrollo del sistema. Por el contrario, ayuda en la
            elicitación y documentación de los costos, beneficios e incertidumbre, y provee un proceso de toma de decisiones racional. Uno de los elementos que introduce el método son las llamadas estrategias arquitectónicas, que consisten en posibles
            opciones para la resolución de conflictos entre atributos de calidad presentes en una arquitectura.</p>
        <br>
        <h1 class="text-lg text-white">Documentacion</h1>
        <br>
        <p class="text-base text-white font-serif text-left">En entregas previas de esta sección, nos hemos enfocado en aspectos relativos a los requerimientos que influyen a la arquitectura, y a la manera de diseñar la arquitectura con el fin de satisfacer estos requerimientos. Para ser útil, este diseño
            necesita ser comunicado de forma adecuada. Así que en esta ocasión abordamos aspectos de comunicación del diseño y más particularmente en la actividad de documentación de la arquitectura.</p>

    </div>

    <div style="width:100%;height:0px;position:relative;padding-bottom:56.250%;"><iframe src="https://streamable.com/e/ns2y16" frameborder="0" width="100%" height="100%" allowfullscreen style="width:100%;height:100%;position:absolute;left:0px;top:0px;overflow:hidden;"></iframe></div>


    <button routerLink="home" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-4 px-8 rounded-full">
      home
    </button>



</div>
